//== fonts
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext';

$roboto: 'Roboto', sans-serif;
$body-font: $roboto;
$header-font: $roboto;
//== heading sizesnpm inst

$size-font: 14px;
$size-h1: 25px;
$size-h2: 20px;
$size-h3: 18px;
$size-h4: 16px;
$size-h5: 14px;
$size-h6: 12px;
$size-breadcrumb: 13px;
